body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
  width: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #1e2439;
  color: #e0e0ff;
  width: auto;
}
main {
  grid-area: main;
  padding: 1rem;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
h6 {
  font-size: 1.5rem !important;
  padding: 1rem 0;
  color: #e0e0ff !important;
}
a {
  text-decoration: none;
}
a:hover {
  color: #d10024;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}
input::placeholder {
  font-size: 0.8rem;
  font-family: cursive;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #d10024 solid;
  outline: none;
}
button.primary {
  display: inline-block;
  padding: 12px 30px;
  background-color: #d10024;
  border: none;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
button.primary:hover,
button.primary:focus {
  opacity: 0.85;
  color: rgb(252, 232, 232);
}

/* navbar */
.branding {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  margin: 1rem;
  margin-top: -2rem;
}
.site-title{
  color: #fff;
  font-weight:600;
  text-transform:uppercase!important;
  transition: 0.3s ease-in-out;
}
.site-title:hover{
color: #d10024;
font-weight:700;
font-family: cursive;
transform: translateY(3px)
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
.form label {
  margin: 0.2rem 0;
}

/* Table */
.table {
  width: 95%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* HERO */
.hero {
  height: 80vh;
  padding-top: 1rem;
  /* width: auto; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/slide.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  font-family: cursive;
}
.hero h4 {
  display: flex;
  flex-direction: row;
}
.userList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  overflow-x: scroll;
}

@media only screen and (max-width: 650px) {
  .form {
    max-width: 80vw;
    margin: 0 auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .form > div {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }
  .form label {
    margin: 0.2rem 0;
  }
}
